force-app/main/default/flows/YachtReservationEmailNotification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Send_reservation_confirmation_email_to_guest</name>
        <label>Copy 1 of Send reservation confirmation email to guest</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value>
                <collectionElements>
                    <elementReference>$Record.Guest_Email__c</elementReference>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>&lt;p&gt;{!FailedReservationBody}&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>Send_reservation_confirmation_email_to_guest</name>
        <label>Send reservation confirmation email to guest</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value>
                <collectionElements>
                    <elementReference>$Record.Guest_Email__c</elementReference>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>&lt;p&gt;{!ConfirmedReservationBody}&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>check_if_reservation_is_confirmed_or_failed</name>
        <label>check if reservation is confirmed or failed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Confirmed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirmed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_reservation_confirmation_email_to_guest</targetReference>
            </connector>
            <label>Confirmed</label>
        </rules>
        <rules>
            <name>Failed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Failed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Send_reservation_confirmation_email_to_guest</targetReference>
            </connector>
            <label>Failed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>YachtReservationEmailNotification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>YachtReservationEmailNotification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check_if_reservation_is_confirmed_or_failed</targetReference>
        </connector>
        <filterLogic>(1 AND 2 AND 3) OR (2 AND 3 AND 4 )</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Confirmed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Guest_Email__c</field>
            <operator>NotEqualTo</operator>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </filters>
        <object>Yacht_Reservation__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ConfirmedReservationBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;Hello &lt;/strong&gt;{!$Record.Guest_Name__c}&lt;strong&gt;,&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;We’re happy to let you know that your yacht reservation has been &lt;strong&gt;successfully confirmed&lt;/strong&gt; 🎉&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;h3&gt;📅 Reservation Details&lt;/h3&gt;&lt;p&gt;                &lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Yacht Name:&lt;/strong&gt; {!$Record.Individual_Yacht__r.Name}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Reservation No: &lt;/strong&gt;{!$Record.Name}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Date:&lt;/strong&gt; {!$Record.Reservation_Date__c}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Type : &lt;/strong&gt;{!$Record.Yacht_Type__c}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Number of Guests:&lt;/strong&gt; {!$Record.Party_Size__c}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Total Price:&lt;/strong&gt; {!$Record.Final_Price__c}&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>FailedReservationBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;Hello {!$Record.Guest_Name__c},&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Thank you for your interest in booking a yacht with us.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Unfortunately, we were &lt;strong&gt;unable to confirm your yacht reservation&lt;/strong&gt; for the selected date and time. This can happen if the yacht becomes unavailable or due to a temporary system issue while processing the reservation.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;h3&gt;📅 Requested Reservation&lt;/h3&gt;&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Yacht:&lt;/strong&gt; {!$Record.Individual_Yacht__r.Name}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Date:&lt;/strong&gt; {!$Record.Reservation_Date__c}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Party Size : &lt;/strong&gt;{!$Record.Party_Size__c}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Status : &lt;/strong&gt;{!$Record.Status__c}&lt;/li&gt;&lt;/ul&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Subject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Your Yacht Reservation is {!$Record.Status__c}&lt;/p&gt;</text>
    </textTemplates>
</Flow>
